fastapi==0.109.0
gotrue==2.1.0
redis==5.0.1
postgrest==0.13.0
pydantic~=2.5.3
python-dotenv==1.0.0
supabase==2.3.0
starlette==0.35.1
sse-starlette==1.8.2
storage3~=0.7.0
uvicorn==0.25.0
websockets==11.0.3